@page
@model Proiect_Testare.Pages.Appointments.CreateModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Appointment</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Appointment.Vehicle" class="control-label"></label>
                <input asp-for="Appointment.Vehicle" class="form-control" />
                <span asp-validation-for="Appointment.Vehicle" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Appointment.OwnerID" class="control-label">Owner</label>
                <select asp-for="Appointment.OwnerID" class="form-control" asp-items="ViewBag.OwnerID"></select>
                <span asp-validation-for="Appointment.OwnerID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Appointment.Price" class="control-label"></label>
                <input asp-for="Appointment.Price" class="form-control" />
                <span asp-validation-for="Appointment.Price" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Appointment.Validity" class="control-label"></label>
                <input asp-for="Appointment.Validity" class="form-control" />
                <span asp-validation-for="Appointment.Validity" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Appointment.InspectionDate" class="control-label"></label>
                <input asp-for="Appointment.InspectionDate" class="form-control" />
                <span asp-validation-for="Appointment.InspectionDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Appointment.ExpiractionDate" class="control-label"></label>
                <input asp-for="Appointment.ExpiractionDate" class="form-control" />
                <span asp-validation-for="Appointment.ExpiractionDate" class="text-danger"></span>
            </div>
             <div class="form-group"> 
                <div class="table"> 
                    <table> 
                        <tr> 
                            @{ 
                                int cnt = 0; 
 
                                foreach (var cat in Model.AssignedCategoryDataList) 
                                { 
                                    if (cnt++ % 3 == 0) 
                                    { 
                                    @:</tr><tr> 
                                    } 
                                    @:<td> 
                                        <input type="checkbox" 
                                               name="selectedCategories" 
                                               value="@cat.CategoryID" 
                                               @(Html.Raw(cat.Assigned ? 
"checked=\"checked\"" : "")) /> 
                                       @:  @cat.Name 
                                    @:</td> 
                                } 
                            @:</tr> 
                            } 
                        </table> 
                    </div> 
                </div> 
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
